In [2]:
datapath = "queuedatabase.db"
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(datapath)
pd.read_sql_query("SELECT * FROM sqlite_master", cnx)["name"]
# pd.read_sql_query("SELECT * FROM simple_app_note",cnx)

0      shop
1    people
2      user
Name: name, dtype: object

In [6]:
pd.read_sql_query("SELECT * FROM user",cnx)

   id   name shopaddress     login password
0   1  Edeka      Munich  maxedeka      123