In [2]:
datapath = "queuedatabase.db"
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(datapath)
pd.read_sql_query("SELECT * FROM sqlite_master", cnx)["name"]
# pd.read_sql_query("SELECT * FROM simple_app_note",cnx)

0      shop
1    people
2      user
Name: name, dtype: object

In [5]:
pd.read_sql_query("SELECT * FROM shop",cnx)

   id   name category address  latitude  longitude  storespace  maxcapacity
0   1  Edeka     food  Munich      10.0       10.0         200           40
1   2  Edeka     food  Munich      10.0       10.0         200           40
2   3  Edeka     food  Munich      10.0       10.0         200           40
3   4  Edeka     food  Munich      10.0       10.0         200           40
4   5  Edeka     food  Munich      10.0       10.0         200           40
5   6  Edeka     food  Munich      10.0       10.0         200           40
6   7  Edeka     food  Munich      10.0       10.0         200           40
7   8  Edeka     food  Munich      10.0       10.0         200           40