In [19]:
datapath = "queuedatabase.db"
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(datapath)
pd.read_sql_query("SELECT * FROM sqlite_master", cnx)["name"]
# pd.read_sql_query("SELECT * FROM simple_app_note",cnx)

0      shop
1    people
2      user
Name: name, dtype: object

In [22]:
pd.read_sql_query("SELECT * FROM shop",cnx)

,id,name,category,address,latitude,longitude,storespace,maxcapacity
0,1,Edeka,food,Munich,10.000000,10.000000,200,40
1,2,Edeka,food,Munich,10.000000,10.000000,200,40
2,3,Edeka,food,Munich,10.000000,10.000000,200,40
3,4,Edeka,food,Munich,10.000000,10.000000,200,40
4,5,Edeka,food,Munich,10.000000,10.000000,200,40
5,6,Edeka,food,Munich,10.000000,10.000000,200,40
6,7,Edeka,food,Munich,10.000000,10.000000,200,40
7,8,Edeka,food,Munich,10.000000,10.000000,200,40
8,9,Edeka,food,Munich,48.137108,11.575382,200,40
9,10,ALDI,groceries,munich,48.137108,11.575382,1000,200
10,11,REWE,groceries,"Tal 13, 80331 M端nchen",48.136242,11.579122,1200,220
11,12,Lidl,groceries,"Tal 13, 80331 M端nchen",48.136242,11.579122,1200,220

In [13]:
from flask import json, jsonify
data = pd.read_sql_query('SELECT * FROM shop',cnx)
jsonify(json_list = data)

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.

In [12]:
data

   id   name category address   latitude  longitude  storespace  maxcapacity
0   1  Edeka     food  Munich  10.000000  10.000000         200           40
1   2  Edeka     food  Munich  10.000000  10.000000         200           40
2   3  Edeka     food  Munich  10.000000  10.000000         200           40
3   4  Edeka     food  Munich  10.000000  10.000000         200           40
4   5  Edeka     food  Munich  10.000000  10.000000         200           40
5   6  Edeka     food  Munich  10.000000  10.000000         200           40
6   7  Edeka     food  Munich  10.000000  10.000000         200           40
7   8  Edeka     food  Munich  10.000000  10.000000         200           40
8   9  Edeka     food  Munich  48.137108  11.575382         200           40