In [12]:
datapath = "queuedatabase.db"
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(datapath)
pd.read_sql_query("SELECT * FROM sqlite_master", cnx)["name"]
# pd.read_sql_query("SELECT * FROM simple_app_note",cnx)

0      shop
1    people
2      user
Name: name, dtype: object

In [17]:
pd.read_sql_query("SELECT * FROM people",cnx)

   id  shopid  number  capacity  waitingtime                  lastupdate
0   1      11       2  0.020000            0  2020-04-18 15:07:23.923730
1   2      11       7  0.031818            0  2020-04-18 15:07:45.077135
2   3      11       5  0.022727            0  2020-04-18 15:07:53.465816
3   4      11       3  0.013636            0  2020-04-18 15:08:00.300277
4   5      11      12  0.054545            0  2020-04-18 15:15:44.518182
5   6      11      17  0.077273            0  2020-04-18 15:15:53.141118
6   7      11      24  0.109091            0  2020-04-18 15:15:58.116758